{% if type == 'input' %}
    {% if label %}
        <label 
            for="{{field.id_for_label}}" 
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                {{label}}
        </label>
    {% endif %}
    <input type="text"
       name="{{field.html_name}}"
       id="{{field.id_for_label}}"
       placeholder="{{field.label}}"
       class="appearance-none block w-full bg-gray-200 text-gray-700 border {% if field.errors %} border-red-500 {% else %} border-gray-200 {% endif %} rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
       {% if field.value != None %} value="{{ field.value|stringformat:'s' }}" {% endif %}>
    {% for error in field.errors %}
        <p class="text-red-500 text-xs italic mt-2">{{error}}</p>
    {% endfor %}
{% endif %}

{% if type == 'password' %}
    {% if label %}
        <label 
            for="{{field.id_for_label}}" 
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                {{label}}
        </label>
    {% endif %}
    <input type="password"
       name="{{field.html_name}}"
       id="{{field.id_for_label}}"
       placeholder="{{field.label}}"
       class="appearance-none block w-full bg-gray-200 text-gray-700 border {% if field.errors %} border-red-500 {% else %} border-gray-200 {% endif %} rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
       {% if field.value != None %} value="{{ field.value|stringformat:'s' }}" {% endif %}>
    {% for error in field.errors %}
        <p class="text-red-500 text-xs italic mt-2">{{error}}</p>
    {% endfor %}
{% endif %}
