{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "common/head.html" %}
        <title>{% block title %} Educa {% endblock %}</title>
    </head>
    <body class="font-body">
        {% include "common/nav_bar.html" %}
        {% block subnav %}{% endblock %}
        <div class="flex flex-wrap">
            {% block sidebar %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        {% block domready %}{% endblock %}
        <script src="{% static 'dist/index.js' %}"></script>
    </body>
</html>
