{% extends "courses/base.html" %}

{% block title %}
    {% if object %}
        Edit content {{ object.title }}
    {% else %}
        Add a new content
    {% endif %}
{% endblock %}

{% block content %}
    <main class="container mx-auto px-6 py-10">
        <div class="border-b border-gray-400 mb-4">
            <h1 class="text-4xl text-gray-500 font-bold leading-tight pb-4">
                {% if object %}
                    Edit content {{ object.title }}
                {% else %}
                    Create new content
                {% endif %}
            </h1>
        </div>

        <form class="w-full max-w-sm" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <div class="w-full mb-6">
                {% include "common/form_fields.html" with 
                    field=form.title 
                    type="input" 
                    label="Title" 
                %}
            </div>
            <div class="w-full mb-6">
                {% include "common/form_fields.html" with 
                    field=form.content 
                    type="text" 
                    label="Add some content for this module" 
                %}
            </div>
            <div class="w-full mb-6">
                {% include "common/form_fields.html" with 
                    field=form.file 
                    type="file" 
                %}
            </div>
            
            <button class="btn-md btn-primary" type="submit">
                Save content
            </button>
        </form>
    </main>
{% endblock %}
